notebooks/.ipynb_checkpoints/
notebooks/atlantes/
notebooks/atlantes_1orbit/
notebooks/atlantes_files_for_colab.zip
notebooks/atlantes_fly_over_america/
notebooks/default.sf2
notebooks/temp_dwpt_rhum_wspd_pres.wav
